@model Jadet.Models.listaComentariosmodel
@{
    ViewBag.Title = "Comentarios";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model.Items.OrderBy(m => m.Fecha).ThenBy(m => m.IdPadre)) {
    @item.Fecha
    @item.Id
    @item.Mensaje
}