
@{
    ViewBag.Title = "Preventa";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-3 card">
        <div class="row card-header">
            <div class="col-sm-3 card-header">
                <h3 class="badge badge-secondary">Centros</h3>
            </div>
            <div class="col-sm-9 card-header">
                <h3 class="text-capitalize">
                    Centros de foamy<br />
                    <small>SKU</small>
                </h3>
            </div>
        </div>
        <div class="row card-body">
            <div class="row col-sm-12 text-center">
                <img src="~/Content/yo(2).jpg" class="img-thumbnail" width="150px" /><br />
                <span class="card-text">
                    30 piezas (5 de c/u)
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6 card-footer">
                    <h4 class="text-info text-lg-center">$280.00 (USD 14.00)</h4>
                </div>
                <div class="col-sm-6 card-footer">
                    <a href="#" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 card">
        <div class="row card-header">
            <div class="col-sm-3 card-header">
                <h3 class="badge badge-secondary">Centros</h3>
            </div>
            <div class="col-sm-9 card-header">
                <h3 class="text-capitalize">
                    Centro de peluche<br />
                    <small>SKU</small>
                </h3>
            </div>
        </div>
        <div class="row card-body">
            <div class="row col-sm-12 text-center">
                <img src="~/Content/yo(2).jpg" class="img-thumbnail" width="150px" /><br />
                <span class="card-text">
                    5 piezas
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6 card-footer">
                    <h4 class="text-info text-lg-center">$70.00 (USD 3.50)</h4>
                </div>
                <div class="col-sm-6 card-footer">
                    <a href="#" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 card">
        <div class="row card-header">
            <div class="col-sm-3 card-header">
                <h3 class="badge badge-secondary">Centros</h3>
            </div>
            <div class="col-sm-9 card-header">
                <h3 class="text-capitalize">
                    Centro de peluche<br />
                    <small>SKU</small>
                </h3>
            </div>
        </div>
        <div class="row card-body">
            <div class="row col-sm-12 text-center">
                <img src="~/Content/yo(2).jpg" class="img-thumbnail" width="150px" /><br />
                <span class="card-text">
                    5 piezas
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6 card-footer">
                    <h4 class="text-info text-lg-center">$70.00 (USD 3.50)</h4>
                </div>
                <div class="col-sm-6 card-footer">
                    <a href="#" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 card">
        <div class="row card-header">
            <div class="col-sm-3 card-header">
                <h3 class="badge badge-secondary">Centros</h3>
            </div>
            <div class="col-sm-9 card-header">
                <h3 class="text-capitalize">
                    Centros de foamy<br />
                    <small>SKU</small>
                </h3>
            </div>
        </div>
        <div class="row card-body">
            <div class="row col-sm-12 text-center">
                <img src="~/Content/yo(2).jpg" class="img-thumbnail" width="150px" /><br />
                <span class="card-text">
                    30 piezas (5 de c/u)
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6 card-footer">
                    <h4 class="text-info text-lg-center">$280.00 (USD 14.00)</h4>
                </div>
                <div class="col-sm-6 card-footer">
                    <a href="#" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 card">
        <div class="row card-header">
            <div class="col-sm-3 card-header">
                <h3 class="badge badge-secondary">Centros</h3>
            </div>
            <div class="col-sm-9 card-header">
                <h3 class="text-capitalize">
                    Centro de peluche<br />
                    <small>SKU</small>
                </h3>
            </div>
        </div>
        <div class="row card-body">
            <div class="row col-sm-12 text-center">
                <img src="~/Content/yo(2).jpg" class="img-thumbnail" width="150px" /><br />
                <span class="card-text">
                    5 piezas
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6 card-footer">
                    <h4 class="text-info text-lg-center">$70.00 (USD 3.50)</h4>
                </div>
                <div class="col-sm-6 card-footer">
                    <a href="#" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 card">
        <div class="row card-header">
            <div class="col-sm-3 card-header">
                <h3 class="badge badge-secondary">Centros</h3>
            </div>
            <div class="col-sm-9 card-header">
                <h3 class="text-capitalize">
                    Centro de peluche<br />
                    <small>SKU</small>
                </h3>
            </div>
        </div>
        <div class="row card-body">
            <div class="row col-sm-12 text-center">
                <img src="~/Content/yo(2).jpg" class="img-thumbnail" width="150px" /><br />
                <span class="card-text">
                    5 piezas
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6 card-footer">
                    <h4 class="text-info text-lg-center">$70.00 (USD 3.50)</h4>
                </div>
                <div class="col-sm-6 card-footer">
                    <a href="#" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 card">
        <div class="row card-header">
            <div class="col-sm-3 card-header">
                <h3 class="badge badge-secondary">Centros</h3>
            </div>
            <div class="col-sm-9 card-header">
                <h3 class="text-capitalize">
                    Centros de foamy<br />
                    <small>SKU</small>
                </h3>
            </div>
        </div>
        <div class="row card-body">
            <div class="row col-sm-12 text-center">
                <img src="~/Content/yo(2).jpg" class="img-thumbnail" width="150px" /><br />
                <span class="card-text">
                    30 piezas (5 de c/u)
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6 card-footer">
                    <h4 class="text-info text-lg-center">$280.00 (USD 14.00)</h4>
                </div>
                <div class="col-sm-6 card-footer">
                    <a href="#" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 card">
        <div class="row card-header">
            <div class="col-sm-3 card-header">
                <h3 class="badge badge-secondary">Centros</h3>
            </div>
            <div class="col-sm-9 card-header">
                <h3 class="text-capitalize">
                    Centro de peluche<br />
                    <small>SKU</small>
                </h3>
            </div>
        </div>
        <div class="row card-body">
            <div class="row col-sm-12 text-center">
                <img src="~/Content/yo(2).jpg" class="img-thumbnail" width="150px" /><br />
                <span class="card-text">
                    5 piezas
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6 card-footer">
                    <h4 class="text-info text-lg-center">$70.00 (USD 3.50)</h4>
                </div>
                <div class="col-sm-6 card-footer">
                    <a href="#" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 card">
        <div class="row card-header">
            <div class="col-sm-3 card-header">
                <h3 class="badge badge-secondary">Centros</h3>
            </div>
            <div class="col-sm-9 card-header">
                <h3 class="text-capitalize">
                    Centro de peluche<br />
                    <small>SKU</small>
                </h3>
            </div>
        </div>
        <div class="row card-body">
            <div class="row col-sm-12 text-center">
                <img src="~/Content/yo(2).jpg" class="img-thumbnail" width="150px" /><br />
                <span class="card-text">
                    5 piezas
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6 card-footer">
                    <h4 class="text-info text-lg-center">$70.00 (USD 3.50)</h4>
                </div>
                <div class="col-sm-6 card-footer">
                    <a href="#" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
    </div>
</div>
