@{
    ViewBag.Title = "Estándares visuales";
}
<h2>@ViewBag.Title.</h2>
<h3>Botones</h3>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-edit"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-edit"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-edit"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-edit"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-edit"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-edit"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-edit"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-edit"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-edit"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-edit"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-edit"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-edit"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-edit"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-edit"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-edit"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-check"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-check"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-check"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-check"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-check"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-check"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-check"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-check"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-check"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-check"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-check"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-check"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-check"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-check"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-check"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-trash"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-trash"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-trash"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-trash"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-trash"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-trash"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-trash"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-trash"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-trash"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-trash"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-trash"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-trash"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-trash"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-trash"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-trash"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-plus"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-plus"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-plus"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-plus"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-plus"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-plus"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-plus"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-plus"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-plus"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-plus"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-plus"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-plus"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-plus"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-plus"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-plus"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-info"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-info"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-info"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-info"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-info"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-info"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-info"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-info"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-info"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-info"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-info"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-info"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-info"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-info"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-info"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-fax"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-fax"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-fax"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-fax"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-fax"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-fax"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-fax"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-fax"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-fax"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-fax"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-fax"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-fax"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-fax"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-fax"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-fax"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-comment"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-comment"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-comment"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-comment"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-comment"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-comment"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-comment"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-comment"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-comment"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-comment"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-comment"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-comment"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-comment"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-comment"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-comment"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-times"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-times"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-times"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-times"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-times"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-times"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-times"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-times"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-times"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-times"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-times"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-times"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-times"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-times"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-times"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-cart-plus"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-file"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-file"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-file"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-file"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-file"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-file"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-file"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-file"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-file"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-file"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-file"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-file"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-file"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-file"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-file"></i></a> #AF66D5
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #CB0077; color: #ffffff;"><i class="fa fa-save"></i></a> #CB0077
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #982669; color: #ffffff;"><i class="fa fa-save"></i></a> #982669
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #84004D; color: #ffffff;"><i class="fa fa-save"></i></a> #84004D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E5399E; color: #ffffff;"><i class="fa fa-save"></i></a> #E5399E
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #E567B1; color: #ffffff;"><i class="fa fa-save"></i></a> #E567B1
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #F80012; color: #ffffff;"><i class="fa fa-save"></i></a> #F80012
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #BA2F39; color: #ffffff;"><i class="fa fa-save"></i></a> #BA2F39
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A2000C; color: #ffffff;"><i class="fa fa-save"></i></a> #A2000C
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC3F4D; color: #ffffff;"><i class="fa fa-save"></i></a> #FC3F4D
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #FC717B; color: #ffffff;"><i class="fa fa-save"></i></a> #FC717B
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #7309AA; color: #ffffff;"><i class="fa fa-save"></i></a> #7309AA
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #612580; color: #ffffff;"><i class="fa fa-save"></i></a> #612580
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #4A036F; color: #ffffff;"><i class="fa fa-save"></i></a> #4A036F
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #A13DD5; color: #ffffff;"><i class="fa fa-save"></i></a> #A13DD5
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-lg" style="background-color: #AF66D5; color: #ffffff;"><i class="fa fa-save"></i></a> #AF66D5
    </div>
</div>
<h3>Encabezados</h3>
<div class="row">
    <div class="col-sm-4">
        <h1 style="color: #CB0077;">Lorem ipsum</h1> #CB0077
        <h1 style="color: #982669;">Lorem ipsum</h1> #982669
        <h1 style="color: #84004D;">Lorem ipsum</h1> #84004D
        <h1 style="color: #E5399E;">Lorem ipsum</h1> #E5399E
        <h1 style="color: #E567B1;">Lorem ipsum</h1> #E567B1
    </div>
    <div class="col-sm-4">
        <h1 style="color: #F80012;">Lorem ipsum</h1> #F80012
        <h1 style="color: #BA2F39;">Lorem ipsum</h1> #BA2F39
        <h1 style="color: #A2000C;">Lorem ipsum</h1> #A2000C
        <h1 style="color: #FC3F4D;">Lorem ipsum</h1> #FC3F4D
        <h1 style="color: #FC717B;">Lorem ipsum</h1> #FC717B
    </div>
    <div class="col-sm-4">
        <h1 style="color: #7309AA;">Lorem ipsum</h1> #7309AA
        <h1 style="color: #612580;">Lorem ipsum</h1> #612580
        <h1 style="color: #4A036F;">Lorem ipsum</h1> #4A036F
        <h1 style="color: #A13DD5;">Lorem ipsum</h1> #A13DD5
        <h1 style="color: #AF66D5;">Lorem ipsum</h1> #AF66D5
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h2 style="color: #CB0077; border-bottom-width:0em;">Lorem ipsum</h2> #CB0077
        <h2 style="color: #982669; border-bottom-width:0em;">Lorem ipsum</h2> #982669
        <h2 style="color: #84004D; border-bottom-width:0em;">Lorem ipsum</h2> #84004D
        <h2 style="color: #E5399E; border-bottom-width:0em;">Lorem ipsum</h2> #E5399E
        <h2 style="color: #E567B1; border-bottom-width:0em;">Lorem ipsum</h2> #E567B1
    </div>
    <div class="col-sm-4">
        <h2 style="color: #F80012; border-bottom-width:0em;">Lorem ipsum</h2> #F80012
        <h2 style="color: #BA2F39; border-bottom-width:0em;">Lorem ipsum</h2> #BA2F39
        <h2 style="color: #A2000C; border-bottom-width:0em;">Lorem ipsum</h2> #A2000C
        <h2 style="color: #FC3F4D; border-bottom-width:0em;">Lorem ipsum</h2> #FC3F4D
        <h2 style="color: #FC717B; border-bottom-width:0em;">Lorem ipsum</h2> #FC717B
    </div>
    <div class="col-sm-4">
        <h2 style="color: #7309AA; border-bottom-width:0em;">Lorem ipsum</h2> #7309AA
        <h2 style="color: #612580; border-bottom-width:0em;">Lorem ipsum</h2> #612580
        <h2 style="color: #4A036F; border-bottom-width:0em;">Lorem ipsum</h2> #4A036F
        <h2 style="color: #A13DD5; border-bottom-width:0em;">Lorem ipsum</h2> #A13DD5
        <h2 style="color: #AF66D5; border-bottom-width:0em;">Lorem ipsum</h2> #AF66D5
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3 style="color: #CB0077;">Lorem ipsum</h3> #CB0077
        <h3 style="color: #982669;">Lorem ipsum</h3> #982669
        <h3 style="color: #84004D;">Lorem ipsum</h3> #84004D
        <h3 style="color: #E5399E;">Lorem ipsum</h3> #E5399E
        <h3 style="color: #E567B1;">Lorem ipsum</h3> #E567B1
    </div>
    <div class="col-sm-4">
        <h3 style="color: #F80012;">Lorem ipsum</h3> #F80012
        <h3 style="color: #BA2F39;">Lorem ipsum</h3> #BA2F39
        <h3 style="color: #A2000C;">Lorem ipsum</h3> #A2000C
        <h3 style="color: #FC3F4D;">Lorem ipsum</h3> #FC3F4D
        <h3 style="color: #FC717B;">Lorem ipsum</h3> #FC717B
    </div>
    <div class="col-sm-4">
        <h3 style="color: #7309AA;">Lorem ipsum</h3> #7309AA
        <h3 style="color: #612580;">Lorem ipsum</h3> #612580
        <h3 style="color: #4A036F;">Lorem ipsum</h3> #4A036F
        <h3 style="color: #A13DD5;">Lorem ipsum</h3> #A13DD5
        <h3 style="color: #AF66D5;">Lorem ipsum</h3> #AF66D5
    </div>
</div>
<h3>Encabezados de tablas</h3>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="background-color: #CB0077; color:#ffffff;">Lorem ipsum</th>
                    <th style="background-color: #982669; color:#ffffff;">Lorem ipsum</th>
                    <th style="background-color: #84004D; color:#ffffff;">Lorem ipsum</th>
                    <th style="background-color: #E5399E; color:#ffffff;">Lorem ipsum</th>
                    <th style="background-color: #E567B1; color:#ffffff;">Lorem ipsum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#CB0077</td>
                    <td>#982669</td>
                    <td>#84004D</td>
                    <td>#E5399E</td>
                    <td>#E567B1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="background-color: #F80012; color: #ffffff;">Lorem ipsum</th>
                    <th style="background-color: #BA2F39; color: #ffffff;">Lorem ipsum</th>
                    <th style="background-color: #A2000C; color: #ffffff;">Lorem ipsum</th>
                    <th style="background-color: #FC3F4D; color: #ffffff;">Lorem ipsum</th>
                    <th style="background-color: #FC717B; color: #ffffff;">Lorem ipsum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#F80012</td>
                    <td>#BA2F39</td>
                    <td>#A2000C</td>
                    <td>#FC3F4D</td>
                    <td>#FC717B</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="background-color: #7309AA; color: #ffffff;">Lorem ipsum</th>
                    <th style="background-color: #612580; color: #ffffff;">Lorem ipsum</th>
                    <th style="background-color: #4A036F; color: #ffffff;">Lorem ipsum</th>
                    <th style="background-color: #A13DD5; color: #ffffff;">Lorem ipsum</th>
                    <th style="background-color: #AF66D5; color: #ffffff;">Lorem ipsum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#7309AA</td>
                    <td>#612580</td>
                    <td>#4A036F</td>
                    <td>#A13DD5</td>
                    <td>#AF66D5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
