@model Jadet.Models.loginmodel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-sm-2">
        <img src="https://scontent.fpbc2-1.fna.fbcdn.net/v/t1.15752-9/102330860_2645200832468537_2988515394495635548_n.jpg?_nc_cat=110&_nc_sid=b96e70&_nc_eui2=AeFA4fBNKbOXyCjErnVOHU-jkvkSYo9N-_-S-RJij037_1E-Dl0h9KYS0cpaieekaPY&_nc_ohc=IFljswWXq8MAX_JaAhL&_nc_ht=scontent.fpbc2-1.fna&oh=bec1cced478132cd76c5558198c43e4e&oe=5F2C7578"
             style="width:100%" />
    </div>
    <div class="col-sm-7">
        <h1>JADET</h1>
        <p class="lead">Bienvenidos a donde encontrarán todo el material para hacer sus sueños realidad.</p>
        <p></p>
    </div>
    <div class="col-sm-3 card">
        @using (Html.BeginForm("hazLogin", "Home"))
        {
            <div class="row">
                <div class="col-sm-12">
                    @Html.TextBoxFor(m => m.usuario, new { @class = "form-control", placeholder = "Usuario" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "Contraseña" })
                </div>
            </div>
            <div class="row card-footer">
                <div class="col-sm-12 text-center">
                    <div class="row col-sm-12">
                        <input type="submit" class="btn btn-primary" value="Iniciar sesión" />
                    </div>
                    <div class="row">
                        <span class="col-sm-12 text-danger">
                            @Html.DisplayFor(m=>m.ErrorMensaje)
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Contenido 1</h2>
        <p>
            Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca:
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Preventa &raquo;</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Contenido 2</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Eventos &raquo;</a></p>
    </div>
</div>