
@{
    ViewBag.Title = "Guías";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>@ViewBag.Title</h2>

<blockquote>
    No tengo la más remota idea de qué mostar aquí :-(
</blockquote>